/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E3DFFF;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #937666;
    color: #fff;
}

.header img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.section {
    background-color: #3D3A4B;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #E3DFFF;
}

h1, h2 {
    color: #D3C0CD;
}

ul {
    list-style-type: none;
}

ul li {
    margin-left: 20px;
}

button {
    background-color: #B19994;
    color: #D3C0CD;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: #111;
   }
   